<center>
<img src="../../img/ods_stickers.jpg">
## <center>Открытый курс по машинному обучению
<center> Автор материала: Data Science Team Lead в Juno Арсений Кравченко

# <center>Домашнее задание № 6. Работа с признаками

В этом задании мы будем работать с [данными](https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries/data) соревнования Kaggle "Two Sigma Connect: Rental Listing Inquiries". Ответы на вопросы заполните в [веб-форме](https://goo.gl/forms/WmKWYpvK8kgjbP8j2).

<font color='red'>Вопрос 1.</font> При каком значении lmbda, выражение np.log(x) == scipy.stats.boxcox(x, lmbda=lmbda) будет истинным?
- 1
- 0
- $\frac{1}{x}$
- $1 + x$

In [4]:
import numpy as np
import scipy

<font color='red'>Вопрос 2.</font> Переменная ``created`` является признаком, содержащим ``datetime``, это объект класса ``pandas.tslib.Timestamp``. Какой способ извлечения признаков будет наименее полезным?
- created.weekday() * 24 + created.hour
- str(created) c последующим one hot encoding
- created.weekday()
- created.hour

<font color='red'>Вопрос 3. </font> Какую информацию нельзя извлечь из User-Agent?
- Версия операционной системы
- Разрешение экрана пользователя
- Платформу, на базе которой построен браузер
- Принадлежит ли запрос роботу-индексатору Яндекса

<font color='red'>Вопрос 4. </font> Мы решаем задачу классификации: есть пары фотографий, нужно определить, являются ли они фотографиями одного и того же объекта. Какой признак будет наиболее релевантен? 
- Расстояние Левенштейна между названиями моделей фотоаппаратов, данные о модели получены из EXIF
- Евклидово расстояние между векторами, полученными из предобученной сети ResNet без полносвязных слоев
- Разница (в днях) между датами съемки фотографий, даты съемки получены из EXIF
- Разность средней яркости во всех (RGB) каналах обоих изображений

<font color='red'>Вопрос 5.</font> Для какой из задач отбор признаков (feature selection) будет бесполезен?
- Ускорение модели на этапе обучения
- Ускорение модели на этапе предсказания
- Борьба со слишком большими значениями признаков, ведущими к переполнению
- Повышение устойчивости модели

In [5]:
import pandas as pd

Поменяйте на свой путь к данным ``train.json``, этот файл вы получите после разархивации скачанного с Kaggle ``train.json.zip`` (по правилам Kaggle данные этого соревнования мы не можем распространять).

In [6]:
data = pd.read_json('train.json')

In [8]:
data.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [9]:
data.shape

(49352, 15)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49352 entries, 10 to 99994
Data columns (total 15 columns):
bathrooms          49352 non-null float64
bedrooms           49352 non-null int64
building_id        49352 non-null object
created            49352 non-null object
description        49352 non-null object
display_address    49352 non-null object
features           49352 non-null object
interest_level     49352 non-null object
latitude           49352 non-null float64
listing_id         49352 non-null int64
longitude          49352 non-null float64
manager_id         49352 non-null object
photos             49352 non-null object
price              49352 non-null int64
street_address     49352 non-null object
dtypes: float64(3), int64(3), object(9)
memory usage: 6.0+ MB

<font color='red'>Вопрос 6.</font> В каком из районов находится точка с координатами (40.825142, -73.909171)?

In [20]:
''' ВАШ КОД ЗДЕСЬ '''
def haversine(row):
    lon1 = 40.825142
    lat1 = -73.909171
    lon2 = row['longitude']
    lat2 = row['latitude']
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    km = 6367 * c
    return km

data['distance'] = data.apply(lambda row: haversine(row), axis=1)

In [22]:
data.sort_values('distance', ascending=False).head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address,distance
78568,3.0,3,cca9ed74339903b6d9c876a8e608d75b,2016-05-19 02:11:21,"DYNAMIC DUPLEX!!!! Incredible 3 Bedroom, 3.5 B...","E 66th St, New York","[Fitness Center, Renovated, Walk in Closet(s),...",low,44.8835,7035661,-93.2705,223268168dc5049485bd70a19596730e,[https://photos.renthop.com/2/7035661_e224f454...,13875,"400 E 66th St,New York",16063.716337
72896,1.0,0,2fc165040867a7c3694de4b4a63b1062,2016-05-07 10:34:35,Bright UES studio apartment! Only two flights ...,E 78th St between First and York,[],low,41.7530,6981117,-87.6134,ee89e559c627af61e8730ea4ad7011d6,[https://photos.renthop.com/2/6981117_2428e796...,2000,452 E 78th St #2A (First Ave & York Ave),15580.650031
16405,1.0,0,23b17bf6f7be64e3272b561cc0b65f5a,2016-06-22 23:17:24,,Riverside Dr/ 90 Street,"[Furnished, Common Outdoor Space, Air Conditio...",medium,44.6038,7202226,-75.1773,7a3570a25df3d87f6520bfe770473d58,[https://photos.renthop.com/2/7202226_a5b38334...,1350,Riverside Dr/ 90 Street,15509.774145
39798,1.0,1,117aceb94c48bfd1f3066a22f999705f,2016-06-17 02:10:25,NO FEE 1 bedroom - Great Elevator - Laundry B...,"E 38th St,","[Elevator, Walk in Closet(s), High Ceilings, H...",low,34.0126,7174857,-118.2710,f19288238987b18a693e16ee23720c20,[https://photos.renthop.com/2/7174857_6d71b6e1...,2425,"234 E 38th St,",15420.948533
18267,1.0,2,0,2016-06-29 02:30:45,"Huge bedrooms, windows in every room! Hard woo...",1st Ave. Loop,"[Elevator, Laundry in Building, Dishwasher, Ha...",low,43.0346,7229074,-76.6336,f44a6215f74f901ac7e326207f2984f7,[https://photos.renthop.com/2/7229074_14de73ea...,3300,250 1st Ave. Loop,15392.405145

Обучите ``CountVectorizer`` из ``scikit-learn``, используя колонку ``Description`` из датасета "Two Sigma Connect: Rental Listing Inquires" таким образом, чтобы в словаре было не более 1000 слов, не меняя прочие параметры по умолчанию. 
<font color='red'>Вопрос 7.</font> Какое слово соответствует индексу 165 в словаре обученного ``CountVectorizer``?

In [40]:
''' ВАШ КОД ЗДЕСЬ '''
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000)

cv.fit(data['description'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=1000, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [41]:
len(cv.vocabulary_)

1000

In [42]:
[key for key, value in cv.vocabulary_.items() if value == 165][0]

'building'

Используя датасет "Two Sigma Connect: Rental Listing", обработанный при помощи [скрипта](https://github.com/Yorko/mlcourse_open/blob/master/jupyter_notebooks/topic6_features/demo.py), отмасштабируйте его при помощи ``MinMaxScaler`` и удалите признаки с дисперсией меньше 0.1. 
<font color='red'>Вопрос 8.</font> Сколько признаков осталось в датасете?

In [60]:
''' ВАШ КОД ЗДЕСЬ '''
import demo
data_engineered, y = demo.get_data()
data_engineered.head()

,bathrooms,bedrooms,price,dishwasher,doorman,pets,air_conditioning,parking,balcony,bike,...,stainless,simplex,public,num_photos,num_features,listing_age,room_dif,room_sum,price_per_room,bedrooms_share
10,1.5,3,8.006368,0,0,0,0,0,0,0,...,0,0,0,5,0,289,1.5,4.5,666.666667,0.666667
10000,1.0,2,8.606119,0,1,1,0,0,0,0,...,0,0,0,11,57,301,1.0,3.0,1821.666667,0.666667
100004,1.0,1,7.955074,1,0,1,0,0,0,0,...,0,0,0,8,72,357,0.0,2.0,1425.000000,0.500000
100007,1.0,1,8.094073,0,0,0,0,0,0,0,...,0,0,0,3,22,356,0.0,2.0,1637.500000,0.500000
100013,1.0,4,8.116716,0,0,0,0,0,0,0,...,0,0,0,3,7,346,3.0,5.0,670.000000,0.800000

In [65]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import VarianceThreshold

data_engineered_scaled = MinMaxScaler().fit_transform(data_engineered)
VarianceThreshold(.1).fit_transform(data_engineered_scaled).shape

(49352, 12)